# 1. Data Wrangling - West Nile Virus<a id='1_Data Wrangling'></a>

## 1.1 Table of Contents <a id='1.1_Table_of_Contents'></a>
* [1 Data wrangling - West Nile Virus](#1_Data_wrangling)
     * [1.1 Table of Contents](#1.1_Table_of_Contents)
     * [1.2 Recap Of Data Science Problem](#1.2_Recap_Of_Data_Science_Problem)
     * [1.3 Imports](#1.3_Imports)
     * [1.4 Objects](#1.4_Objects)
* [2. Spray Data](#2_Spray_Data)
     * [2.1 Loading](#2.1_Loading)
     * [2.2 Exploring ](#2.2_Exploring)
     * [2.3 Missing Data](#2.3_Missing_Data)
* [3. Weather Data](#2_3_Weather_Data)
     * [3.1 Loading](#3.1_Loading)
     * [3.2 Exploring](#3.2_Exploring)
     * [3.3 Missing Data](#3.3_Missing_Data)
          * [3.3.1 Tempature](#3.3.1_Tempature)
          * [3.3.2 Precipitation](#3.3.2_Precipitation)
          * [3.3.3 Dew Point](#3.3.3_Dew_Point)
     * [3.4 Relitive Humidity](#3.4_Relitive_Humidity)
          * [3.4.1 Convert to Celsius](#3.4.1_Convert_to_Celsius)
          * [3.4.2 Calculate Relative Humidity](#3.4.2_Calculate_Relative_Humidity)

## 1.2 Recap Of Data Science Problem <a id='1.2_Recap_Of_Data_Science_Problem'></a>

## 1.3 Imports <a id='1.3_Imports'></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.4 Objects <a id='1.4_Objects'></a>

## 2. Spray Data <a id='2_Spray_Data'></a>

### 2.1 Loading <a id='2.1_Loading'></a>

In [2]:
spray_data = pd.read_csv('data/spray.csv')

### 2.2 Exploring <a id='2.2_Exploring'></a>

In [3]:
spray_data.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
spray_data.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

### 2.3 Missing Data <a id='2.3_Missing_Data'></a>

In [33]:
missing = pd.concat([spray_data.isnull().sum(), 100 * spray_data.isnull().mean()], axis=1)
missing.columns=['count', '%']

missing.sort_values(by='count',  ascending=False)

           count         %
Time         584  3.936636
Date           0  0.000000
Latitude       0  0.000000
Longitude      0  0.000000

In [35]:
null_data = spray_data[spray_data.isnull().any(axis=1)]
null_data.head()

            Date Time   Latitude  Longitude
1030  2011-09-07  NaN  41.987092 -87.794286
1031  2011-09-07  NaN  41.987620 -87.794382
1032  2011-09-07  NaN  41.988004 -87.794574
1033  2011-09-07  NaN  41.988292 -87.795486
1034  2011-09-07  NaN  41.988100 -87.796014

In [37]:
null_data.Date.unique()

array(['2011-09-07'], dtype=object)

Just to double check:

In [39]:
datetimecheck = null_data[null_data['Date'] == '2011-09-07']
datetimecheck.shape

(584, 4)

All missing values are on the data 2011-09-07, it is unlikely we would be able to recover or solve this issue.

## 3. Weather Data <a id='3_Weather_Data'></a>

### 3.1 Loading <a id='3.1_Loading'></a>

In [5]:
weather_data = pd.read_csv('data/weather.csv')

In [6]:
weather_data.head(12)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5

### 3.2 Exploring <a id='3.2_Exploring'></a>

In [7]:
weather_data.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [8]:
weather_data.shape

(2944, 22)

### 3.3 Missing Data <a id='3.3_Missing Data'></a>

In [34]:
missing = pd.concat([weather_data.isnull().sum(), 100 * weather_data.isnull().mean()], axis=1)
missing.columns=['count', '%']

missing.sort_values(by='count',  ascending=False)

             count    %
Station          0  0.0
Date             0  0.0
ResultDir        0  0.0
ResultSpeed      0  0.0
SeaLevel         0  0.0
StnPressure      0  0.0
PrecipTotal      0  0.0
SnowFall         0  0.0
Water1           0  0.0
Depth            0  0.0
CodeSum          0  0.0
Sunset           0  0.0
Sunrise          0  0.0
Cool             0  0.0
Heat             0  0.0
WetBulb          0  0.0
DewPoint         0  0.0
Depart           0  0.0
Tavg             0  0.0
Tmin             0  0.0
Tmax             0  0.0
AvgSpeed         0  0.0

#### 3.3.1 Tempature <a id='3.3.1_Tempature'></a>

In [9]:
weather_data.Tavg.unique()

array(['67', '68', '51', '52', '56', '58', 'M', '60', '59', '65', '70',
       '69', '71', '61', '55', '57', '73', '72', '53', '62', '63', '74',
       '75', '78', '76', '77', '66', '80', '64', '81', '82', '79', '85',
       '84', '83', '50', '49', '46', '48', '45', '54', '47', '44', '40',
       '41', '38', '39', '42', '37', '43', '86', '87', '89', '92', '88',
       '91', '93', '94', '90', '36'], dtype=object)

According to the NOA documentation M stands for missing data, after preliminary investigation there is missing data everywhere so first we shall try and replace where we can.

In [28]:
weather_data['Tavg'] = (weather_data.Tmax + weather_data.Tmin)/2

Apparantly I need to review how .mean() interacts with everything, everytime I use it, it does the mean of the whole col

In [30]:
weather_data.Tavg.head(8)

0    66.5
1    68.0
2    50.5
3    51.5
4    56.0
5    57.5
6    57.5
7    64.5
Name: Tavg, dtype: float64

In [31]:
weather_data.Tavg.unique()

array([66.5, 68. , 50.5, 51.5, 56. , 57.5, 64.5, 59.5, 60. , 58.5, 65. ,
       67. , 70. , 69. , 69.5, 71. , 60.5, 61. , 55. , 56.5, 73. , 72. ,
       68.5, 54.5, 52.5, 62. , 62.5, 73.5, 74.5, 77.5, 75.5, 77. , 63. ,
       61.5, 57. , 66. , 74. , 76.5, 79.5, 71.5, 70.5, 64. , 55.5, 81. ,
       81.5, 65.5, 75. , 72.5, 78.5, 78. , 80. , 80.5, 79. , 82. , 63.5,
       67.5, 76. , 84.5, 84. , 82.5, 50. , 52. , 48.5, 51. , 49.5, 59. ,
       49. , 46. , 48. , 45. , 53.5, 54. , 53. , 47. , 58. , 46.5, 43.5,
       40. , 40.5, 38. , 38.5, 41.5, 42. , 83.5, 83. , 45.5, 39.5, 36.5,
       37. , 44.5, 42.5, 43. , 44. , 47.5, 85.5, 86.5, 86. , 87. , 88.5,
       91.5, 85. , 88. , 89. , 90.5, 91. , 92.5, 93.5, 87.5, 89.5, 41. ,
       35.5, 36. , 39. , 37.5])

#### 3.3.2 Precipitation <a id='3.3.2_Precipitation'></a>

In [17]:
weather_data.PrecipTotal.unique()

array(['0.00', '  T', '0.13', '0.02', '0.38', '0.60', '0.14', '0.07',
       '0.11', '0.09', '1.01', '0.28', '0.04', '0.08', '0.01', '0.53',
       '0.19', '0.21', '0.32', '0.39', '0.31', '0.42', '0.27', '0.16',
       '0.58', '0.93', '0.05', '0.34', '0.15', '0.35', 'M', '0.40',
       '0.66', '0.30', '0.24', '0.43', '1.55', '0.92', '0.89', '0.17',
       '0.03', '1.43', '0.97', '0.26', '1.31', '0.06', '0.46', '0.29',
       '0.23', '0.41', '0.45', '0.83', '1.33', '0.91', '0.48', '0.37',
       '0.88', '2.35', '1.96', '0.20', '0.25', '0.18', '0.67', '0.36',
       '0.33', '1.28', '0.74', '0.76', '0.71', '0.95', '1.46', '0.12',
       '0.52', '0.64', '0.22', '1.24', '0.72', '0.73', '0.65', '1.61',
       '1.22', '0.50', '1.05', '2.43', '0.59', '2.90', '2.68', '1.23',
       '0.62', '6.64', '3.07', '1.44', '1.75', '0.82', '0.80', '0.86',
       '0.63', '0.55', '1.03', '0.70', '1.73', '1.38', '0.44', '1.14',
       '1.07', '3.97', '0.87', '0.78', '1.12', '0.68', '0.10', '0.61',
       '0.54', '1.19', '0.75', '0.84', '1.29', '0.81', '1.15', '1.49',
       '1.57', '1.02', '1.30', '0.51', '0.85', '0.79', '0.77', '2.79',
       '3.15', '3.64', '4.73', '1.60', '0.57', '2.24', '1.90', '1.06',
       '1.88', '0.69', '2.17', '6.86', '0.49', '1.11', '1.21', '0.90',
       '1.34', '0.47', '0.56', '3.66', '1.09', '1.25', '1.35', '2.20',
       '1.48', '0.96', '1.16', '1.04', '2.03', '2.09', '1.26', '2.60',
       '2.06', '3.31', '2.76', '1.82', '0.98', '1.58', '3.17', '1.18'],
      dtype=object)

According to the NOA records, T stands for Trace, which likely means less than 0.01. As for dealing with M, if we have the relavent data from other locations on the same datetime, take the mean for that datetime. Otherwise remove?

In [70]:
# Count the number of M's and T's

weather_data.PrecipTotal.str.count("T").sum()

318

#### 3.3.3 Dew Point <a id='3.3.3_Dew_Point'></a>

In [42]:
weather_data.DewPoint.unique()

array([51, 42, 40, 41, 38, 39, 30, 58, 57, 59, 60, 52, 44, 36, 37, 33, 32,
       47, 45, 56, 43, 31, 50, 46, 49, 48, 54, 53, 55, 61, 63, 62, 64, 65,
       66, 67, 69, 70, 68, 71, 72, 73, 35, 34, 29, 27, 28, 23, 24, 25, 22,
       26, 75, 74], dtype=int64)

### 3.4 Relitive Humidity <a id='3.4_Relitive_Humidity'></a>

Calculation Notes for relative humidity:

Saturation Vapor Pressure :

Temputure = T (in celsius) 
Dewpoint Temp = Td (in celsius)

* es = 6.11E( ( 7.5 * T ) / ( 273.3 + T ) )  [eq. 1]

Vapor Pressure :

* e = 6.11E( ( 7.5 * Td ) / ( 273.3 + Td ) ) [eq. 2]

Relative Humidity:

* RH = ( e / es ) * 100 [eq. 3]

F to C conversion:

* C = ( F - 32 ) * ( 5 / 9 ) [eq. 4]

Primary Sources:

* https://www.weather.gov/media/epz/wxcalc/vaporPressure.pdf <-- primary for equations

* https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7068582/ <-- Journal concerning primary weather conditions

* https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3750695/ <-- specific study attempting to determine mathmatical formula based on weather

Secondary Sources:

* https://www.theweatherprediction.com/habyhints/186/

* https://snowball.millersville.edu/~adecaria/ESCI241/esci241_lesson06_humidity.pdf

* https://www.omnicalculator.com/chemistry/vapour-pressure-of-water

#### 3.4.1 Convert to Celsius <a id='3.4.1_Convert_to_Celsius'></a>

In [58]:
# Double check format, NOAA is in F not C, need to convert. Using equation #4

weather_data['TmaxC'] = (weather_data['Tmax'] - 32) * (5/9)
weather_data['TminC'] = (weather_data['Tmin'] - 32) * (5/9)
weather_data['TavgC'] = (weather_data['Tavg'] - 32) * (5/9)
weather_data['DewPointC'] = (weather_data['DewPoint'] - 32) * (5/9)

In [59]:
weather_data.TmaxC.head()

0    28.333333
1    28.888889
2    15.000000
3    15.555556
4    18.888889
Name: TmaxC, dtype: float64

In [60]:
weather_data.TminC.head()

0    10.000000
1    11.111111
2     5.555556
3     6.111111
4     7.777778
Name: TminC, dtype: float64

In [61]:
weather_data.TavgC.head()

0    19.166667
1    20.000000
2    10.277778
3    10.833333
4    13.333333
Name: TavgC, dtype: float64

In [62]:
weather_data.DewPointC.head()

0    10.555556
1    10.555556
2     5.555556
3     5.555556
4     4.444444
Name: DewPointC, dtype: float64

#### 3.4.2 Calculate Relative Humidity <a id='3.4.2_Calculate_Relative_Humidity'></a>

In [68]:
# See Equations #1, 2, and 3

weather_data['RHmax'] =(( 6.11 ** ((7.5 * weather_data['DewPointC']) / (273.3 + weather_data['DewPointC']))) / 6.11 ** ((7.5 * weather_data['TmaxC'])/(273.3 + weather_data['TmaxC']))) * 100
weather_data['RHmin'] =(( 6.11 ** ((7.5 * weather_data['DewPointC']) / (273.3 + weather_data['DewPointC']))) / 6.11 ** ((7.5 * weather_data['TminC'])/(273.3 + weather_data['TminC']))) * 100
weather_data['RHavg'] =(( 6.11 ** ((7.5 * weather_data['DewPointC']) / (273.3 + weather_data['DewPointC']))) / 6.11 ** ((7.5 * weather_data['TavgC'])/(273.3 + weather_data['TavgC']))) * 100

In [64]:
weather_data.RHmax.head()

0    46.287193
1    45.252309
2    64.672944
3    63.091975
4    51.668659
Name: RHmax, dtype: float64

In [65]:
weather_data.RHmin.head()

0    102.596108
1     97.479344
2    100.000000
3     97.389432
4     85.350408
Name: RHmin, dtype: float64

In [66]:
weather_data.RHavg.head()

0    68.057935
1    65.648760
2    80.128196
3    78.104535
4    66.085162
Name: RHavg, dtype: float64