# 1. Data Wrangling - West Nile Virus<a id='1_Data Wrangling'></a>

## 1.1 Table of Contents <a id='1.1_Table_of_Contents'></a>
* [1 Data wrangling - West Nile Virus](#1_Data_wrangling)
     * [1.1 Table of Contents](#1.1_Table_of_Contents)
     * [1.2 Recap Of Data Science Problem](#1.2_Recap_Of_Data_Science_Problem)
     * [1.3 Imports](#1.3_Imports)
     * [1.4 Objects](#1.4_Objects)
* [2. Spray Data](#2_Spray_Data)
     * [2.1 Loading](#2.1_Loading)
     * [2.2 Exploring ](#2.2_Exploring)
* [3. Weather Data](#2_3_Weather_Data)
     * [3.1 Loading](#3.1_Loading)
     * [3.2 Exploring](#3.2_Exploring)
     * [3.3 Missing Data](#3.3_Missing_Data)
          * [3.3.1 Tempature](#3.3.1_Tempature)
     * [3.4 ](#3.2_)

## 1.2 Recap Of Data Science Problem <a id='1.2_Recap_Of_Data_Science_Problem'></a>

## 1.3 Imports <a id='1.3_Imports'></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.4 Objects <a id='1.4_Objects'></a>

## 2. Spray Data <a id='2_Spray_Data'></a>

### 2.1 Loading <a id='2.1_Loading'></a>

In [2]:
spray_data = pd.read_csv('data/spray.csv')

### 2.2 Exploring <a id='2.2_Exploring'></a>

In [3]:
spray_data.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [4]:
spray_data.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

## 3. Weather Data <a id='3_Weather_Data'></a>

### 3.1 Loading <a id='3.1_Loading'></a>

In [5]:
weather_data = pd.read_csv('data/weather.csv')

In [6]:
weather_data.head(12)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5

### 3.2 Exploring <a id='3.2_Exploring'></a>

In [7]:
weather_data.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [8]:
weather_data.shape

(2944, 22)

### 3.3 Missing Data <a id='3.3_Missing Data'></a>

#### 3.3.1 Tempature <a id='3.3.1_Tempature'></a>

In [9]:
weather_data.Tavg.unique()

array(['67', '68', '51', '52', '56', '58', 'M', '60', '59', '65', '70',
       '69', '71', '61', '55', '57', '73', '72', '53', '62', '63', '74',
       '75', '78', '76', '77', '66', '80', '64', '81', '82', '79', '85',
       '84', '83', '50', '49', '46', '48', '45', '54', '47', '44', '40',
       '41', '38', '39', '42', '37', '43', '86', '87', '89', '92', '88',
       '91', '93', '94', '90', '36'], dtype=object)

According to the NOA documentation M stands for missing data, after preliminary investigation there is missing data everywhere so first we shall try and replace where we can.

In [15]:
for row in weather_data.Tavg:
    if row == "M":
        weather_data.Tavg[row] = (weather_data.Tmax[row] + weather_data.Tmin[row])/2

KeyError: 'M'

In [12]:
weather_data.Tavg.unique()

array(['67', '68', '51', '52', '56', '58', 'M', '60', '59', '65', '70',
       '69', '71', '61', '55', '57', '73', '72', '53', '62', '63', '74',
       '75', '78', '76', '77', '66', '80', '64', '81', '82', '79', '85',
       '84', '83', '50', '49', '46', '48', '45', '54', '47', '44', '40',
       '41', '38', '39', '42', '37', '43', '86', '87', '89', '92', '88',
       '91', '93', '94', '90', '36'], dtype=object)

### 3.3.2 Precipitation

In [ ]:
weather_data.PrecipTotal.unique()