# 1. Data Wrangling - West Nile Virus<a id='1_Data Wrangling'></a>

## 1.1 Table of Contents <a id='1.1_Table_of_Contents'></a>
* [1 Data wrangling - West Nile Virus](#1_Data_wrangling)
     * [1.1 Table of Contents](#1.1_Table_of_Contents)
     * [1.2 Recap Of Data Science Problem](#1.2_Recap_Of_Data_Science_Problem)
     * [1.3 Imports](#1.3_Imports)
     * [1.4 Objects](#1.4_Objects)

## 1.2 Recap Of Data Science Problem <a id='1.2_Recap_Of_Data_Science_Problem'></a>

## 1.3 Imports <a id='1.3_Imports'></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1.4 Objects <a id='1.4_Objects'></a>

## 2. Spray Data <a id='2_Spray Data'></a>

## 2.1 Loading

In [5]:
spray_data = pd.read_csv('data/spray.csv')

## 2.2 Overview

In [10]:
spray_data.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [11]:
spray_data.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

## 3.1 Load Weather Data

In [7]:
weather_data = pd.read_csv('data/weather.csv')

In [9]:
weather_data.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [12]:
weather_data.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [18]:
weather_data.Tavg.unique()

array(['56', '57', '47', '48', '50', '49', '46', '54', '53', '62', '63',
       '60', '61', '51', '59', '58', '43', '44', '45', '65', '66', '67',
       '64', '52', '55', '69', '68', '70', '72', '71', '73', '74', '76',
       '42', '39', '40', '41', '35', '33', '34', 'M', '75', '36', '32',
       '38', '78', '77', '37'], dtype=object)

M likely stands for missing data, lets check if M is in which other colomns. We are more comfortable doing this with dataframes so lets set that up first.

In [27]:
for col in weather_data:
    for i in col:
        if i == 'M':
            print(col)